.home-container {
    background-image: url(./assets/image.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-right: 0%;
    width: 110%;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
}

.home-container h1 {
    margin-right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.429);
    position: fixed;
    width: 98.5%;
    text-align: center;
    margin-bottom: 400px;
}

.features-box {
    background-color: rgba(152, 149, 149, 0.8);
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    width: 80%;
    max-width: 800px;
    text-align: center;
    position: fixed;
}

.home-nav ul {
    list-style-type: none;
    padding: 0;
}

.home-nav ul li {
    margin-bottom: 1rem;
}

.home-nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.home-nav ul li a:hover {
    color: green;
}

@media (max-width: 768px) {
    .home-container h1 {
        font-size: 2.5rem;
    }

    .features-box {
        padding: 1rem;
    }

    .features-box h2 {
        font-size: 1.5rem;
    }

    .home-nav ul li a {
        font-size: 1rem;
    }
}