.home-container {
    background-size: cover;
    background-position: center;
    width: 240%;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    /* Add some padding at the top */
}

.home-container h1 {
    margin: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.429);
    /* Add a semi-transparent background for better readability */
    width: 100%;
    text-align: center;
}

.features-box {
    background-color: rgba(255, 255, 255, 0.8);
    /* Add a semi-transparent white background */
    color: black;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    width: 80%;
    max-width: 800px;
    text-align: center;
}

.home-nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

.home-nav li {
    margin: 0 10px;
}

.home-nav a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}